# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\.vs/VerilogFormalVerification/v15/\.suo

\.vs/VerilogFormalVerification/v15/Browse\.VC\.db

*.db

*.opendb

*.ipch

*.db-shm

entry_controller/Debug/

common_tools/Debug/

vlog_data_model/Debug/

\.vs/

Debug/

bin/

obj/

vlog_import_tests/Release/
